h1, p{
    text-align: center;
}

.link{
    text-decoration: none;
}

li.link:hover{
    background-color: aqua;
}

li.link:active{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

