.title{
    font-weight: bolder;
    font-style: unset;
    font-size: 20px;
    text-align: center;
    background-color: rgb(127, 184, 184);
    height: 100px;
}

.navegation{
    text-decoration: none;
}

.family{
    display: inline-block;
}

.scientific{
    font-size: 25px;
}

.classification{
    text-decoration: underline;
}

h3{
    margin: auto;
}


.species{
    width: 100px;
    display: inline-block;

}

article{
    /* display: flex; */

}

.container{
    display: flex;
}

.description{
    width: 400px;
    margin: 0 auto;
    text-align: justify;
    display: inline-block;
    position: relative;
    left: 0;
}

.aside{
    display: inline-block;

}
body{
    /* text-align: center; */
}

#references{
    text-decoration: none;
    display: block;
    width: auto;
}
